In [6]:
import sqlite3

In [7]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
               );"""
cursor.execute(create_table)
connection.commit()
connection.close()

OperationalError: table classroom already exists

In [9]:
classroom_data = [(1, "Paul", "M", 81, 95, 94),
                 (2, "Sam", "F", 96, 89, 99),
                 (3, "Andrew", "M", 85, 91, 84),
                 (4, "Annabelle", "F", 81, 79, 98)]
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """INSERT INTO classroom
                          (student_id, name, gender,physics_marks, chemistry_marks,mathematics_marks)
                          VALUES
                          ({0},"{1}","{2}",{3},{4},{5});""".format(student[0], student[1], student[2], 
                                                                   student[3], student[4], student[5])
    cursor.execute(insert_statement)

connection.commit()
connection.close()

In [10]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
query = "SELECT * FROM classroom"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, u'Paul', u'M', 81, 95, 94)
(2, u'Sam', u'F', 96, 89, 99)
(3, u'Andrew', u'M', 85, 91, 84)
(4, u'Annabelle', u'F', 81, 79, 98)

In [13]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
query = "SELECT * FROM classroom WHERE name='Paul'"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, u'Paul', u'M', 81, 95, 94)

In [12]:
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /opt/anaconda2

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.2                |           py27_0         2.8 MB
    pymysql-0.9.3              |           py27_0          84 KB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/osx-64::pymysql-0.9.3-py27_0

The following packages will be UPDATED:

  conda                                       4.7.12-py27_0 --> 4.8.2-py27_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done